
<p>
  <mat-toolbar color="primary" class="mat-elevation-z4">
      <mat-toolbar-row *ngIf ="!screenControllerService.ecranXS">
        <a mat-button routerLink ="products"><mat-icon>home</mat-icon>&nbsp;Home</a>      
        <div class="spacer"></div>
        <a mat-button routerLink ="approbation">Approbation</a>
        <a mat-button routerLink ="contactus" >Contact Us</a>
        <button mat-button style="cursor: pointer;"
          (click) ="goToCaddyPage()">
          <span class="material-icons"
            style="color: white;">
            add_shopping_cart
          </span>
        </button>
        <a mat-button routerLink ="login/0"><mat-icon>login</mat-icon></a>
      </mat-toolbar-row>      
      <mat-toolbar-row *ngIf ="screenControllerService.ecranXS" fxLayout="start center" class="rowHeight"> 
        <a mat-button routerLink ="products"><mat-icon>home</mat-icon>&nbsp;Home</a>
        <div class="spacer"></div>
        <a mat-button routerLink ="approbation">Approbation</a>
        <a mat-button routerLink ="contactus" >Contact</a>
        <button mat-button style="cursor: pointer;"
        (click) ="goToCaddyPage()">
          <span class="material-icons"
            style="color: white;">
            add_shopping_cart
          </span>
        </button>
        <a mat-button routerLink ="login/0"><mat-icon>login</mat-icon></a>
      </mat-toolbar-row>
  </mat-toolbar>
</p>
<div class="marginLeft">
  <router-outlet></router-outlet>
</div>
