<p>
    GUINÉE : VENTE ET DISTRIBUTION
Droit de la vente
Le droit de la vente est régi par les articles 210 et suivants de l’Acte Uniforme OHADA sur le droit commercial général entré en vigueur le 1er janvier 1998.

Ces dispositions se trouvent largement  inspirées de la Convention sur la vente internationale des marchandises du 11 avril 1980, notamment en ce qui concerne la formation du contrat de vente.

C’est ainsi que les articles 210 à 218 de l’Acte Uniforme précisent les conditions dans lesquelles l’offre et l’acceptation engagent les parties.

Le vendeur s’oblige à livrer les marchandises et à remettre, s’il a lieu, les documents correspondants (articles 220 à 223), à s’assurer de leur conformité à la commande (articles 224 à 229) et à accorder sa garantie (articles  230 à 232). Dans les mêmes conditions, l’acheteur s’oblige à payer le prix (articles 234 à 239) et à prendre livraison des marchandises (articles 240 à 244).

En cas d’inexécution, la partie non fautive peut obtenir du Tribunal l’autorisation de différer l’exécution  de ses propres obligations ou la résolution du contrat.

Sauf convention contraire entre les parties, le transfert de propriété s’opère dès la prise de livraison par l’acheteur de la marchandise vendue. La clause de réserve de propriété est opposable aux tiers sous réserve de sa validité uniquement si elle a été régulièrement publiée au R.C.C.M.  Le transfert de propriété entraîne le transfert des risques.

Intermédiaires de commerce
L’Acte Uniforme distingue trois catégories d’intermédiaires dont il défini et organise les activités : le commissionnaire, le courtier, l’agent commercial.

Le commissionnaire est celui qui se charge d’opérer en son propre nom, mais pour le compte du commettant, la vente ou l’achat de marchandises moyennant une commission, laquelle sera  due dès que le mandat sera exécuté, et ce, que l’opération soit bénéficiaire ou non.

Le courtier est celui qui fait habituellement profession de mettre en rapport des personnes en vue de faciliter et de faire aboutir la conclusion de convention entre ces personnes. Il doit demeurer indépendant des parties et rémunéré par pourcentage du montant de l’opération.

L’agent commercial est un mandataire, qui à titre de profession indépendante, se charge de façon permanente de négocier et de conclure des contrats de vente, d’achat, de location ou de prestations de services, au nom et pour le compte de son mandant, sans être lié avec celui-ci par un contrat de travail. Sa commission est acquise dès que le mandant a exécuté l’opération ou devrait l’avoir exécutée.

Toutefois, lorsque le contrat est à durée indéterminée, l’Acte Uniforme prévoit qu’une des parties ne peut y mettre fin que moyennant un préavis, et à une indemnité compensatrice de rupture.

Contrat de distribution
Il n’existe pas en droit béninois de réglementation spécifique au contrat de distribution.

Les règles applicables sont celles relatives à la vente, contenue dans l’Acte Uniforme OHADA sur le droit commercial général, ainsi que les dispositions du Code des Obligations Civiles et Commerciales qui ne lui sont pas contraires.
</p>